
    <h2>User</h2>
    <table class="manage-users">
        <tr>
            <th>Id</th><th>Username</th><th>Password</th>
        </tr>
        <tr>
            <td><%= session.viewUser[0].id %></td>
            <td><%= session.viewUser[0].name %></td>
            <td><%= session.viewUser[0].pass %></td>
        </tr>
    </table>


    <table class="manage-users">
        <h2>Account(s)</h2>
        <tr>
            <th>Id</th><th>Accountname</th><th>Amount</th>
        </tr>
        <% session.accounts.forEach(function(item) { %>
            <tr>
                <td><%= item.id %></td>
                <td><%= item.acc_name %></td>
                <td><%= item.amount %></td>
            </tr>
        <% }) %>
    </table>
