<form action="/manage/user/update">
    <h3>User</h3>
    <table class="manage-users">
        <tr>
            <th>Id</th><th>Username</th><th>Password</th>
        </tr>
        <tr>
            <td><input type="text" value="<%= session.viewUser[0].id %>" name="id" readonly></td>
            <td><input type="text" value="<%= session.viewUser[0].name %>" name="name"></td>
            <td><input type="text" value="<%= session.viewUser[0].pass %>" name="password"></td>
        </tr>

        <tr><td><input type="submit" value="Change user" name="change"></td></tr>
    </table>
</form>
<form action="/manage/account/update">
    <table class="manage-users">
        <h3>Accounts</h3>
        <tr>
            <th>id</th><th>Accountname</th><th>Amount</th>
        </tr>
        <% session.accounts.forEach(function(item) { %>
            <tr>
                <td><input type="text" value="<%= item.id %>" name="acc_id" readonly></td>
                <td><input type="text" value="<%= item.acc_name %>" name="acc_name"></td>
                <td><input type="text" value="<%= item.amount %>" name="acc_amount"></td>
            </tr>
        <% }) %>
        <tr><td><input type="submit" value="Change account" name="change"></td></tr>
    </table>
</form>
<form action="/manage/account/create">
    <table class="manage_user">
    <h1>Create account</h1>
    <tr>
        <td><input type="text" name="new_accountname" id="new_accountname" placeholder="Accountname"></td>
        <td><input type="submit" value="Create account" name="create"></td>
        <input type="hidden" value="<%= session.viewUser[0].id %>" name="new_account_user_id">
    </tr>
</form>

<form action="/manage/account/delete">
    <table class="manage_user">
        <h1>Delete account</h1>
        <tr>
            <td>
                <select name="del_account">
                    <% session.accounts.forEach(function(item) { %>
                        <option value="<%= item.id %>"><%= item.acc_name %></option>
                    <% }) %>
                </select>
            </td><td><input type="submit" class="red" value="Delete account" name="delete"></td>
        </tr>
    </table>
</form>
