<form class="pretty" action="/process-transfer">
    <h1>Transfer money</h1>
    <select name="fromAccount">
        <option value="">Transfer from...</option>
        <% session.accounts.forEach(function(account) { %>
            <option value="<%= account.id%>"><%= account.acc_name %>( <%= account.amount %> )</option>
        <% }) %>
    </select>
    <select name="toAccount">
        <option value="">Transfer to...</option>
        <% session.accounts.forEach(function(account) { %>
            <option value="<%= account.id%>"><%= account.acc_name %>( <%= account.amount %> )</option>
        <% }) %>
    </select>
    <input type="number" name="amount" placeholder="Amount">
    <input type="submit" value="Transfer">
</form>
